* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: hsl(212, 45%, 89%);
    padding: 100px;
}
.code-container {
    border: 1px;
    margin: 80px auto;
    border-radius: 15px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 6px gray;
    img {
        width: 100%;
        border-radius: 10px;
    }
}
h2 {
    font-family: outfit;
    font-size: medium;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-top: 15px;
}
p {
    font-family: outfit;
    font-size: small;
    text-align: center;
    margin-top: 10px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    margin-bottom: 20px;
}
